.main-container {
    border-radius: 5px;
    width: auto;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    background: linear-gradient(#FFCDB2, #E5989B);
    padding: 10px;
}

h1 {
    color: white;
}
