.city-weather {

}

.forecast-container{
    background: linear-gradient(#cdcdf7,  #9898e3 );
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    box-shadow: 2px 2px 2px #F8F7FF;
}

.city-forecast {
    display: flex;
    justify-content: space-evenly;
}

.current-weather{
    position: relative;
    background: linear-gradient( #9898e3, #cdcdf7 );
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    box-shadow: 2px 2px 2px #F8F7FF;
}

.forecast {
    display: flex;
    flex-direction: column;
}

.description {
    font-size: 15px;
    color: #9381FF;
}

.save-city {
    position: absolute;
    top: 10px;
    right:10px ;
    
}

.save-city:hover {
    /* border-style: solid;
    border-color: #F8F7FF; */
    border-radius: 15px;
    background-color: #FFEEDD;
}