.saved {

    border: #FFEEDD;
    color: #342c66;
    background-color: #FFEEDD;
    border-radius: 5px;
    opacity: .8;
    margin:10px;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

li {

    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 5px;
}



li:hover {
    text-decoration: underline;
}